DB_CONNECTION=postgresql://USER:123456@localhost:5433/mood_app
DB_TEST_CONNECTION=postgresql://USER:123456@localhost:5433/mood_app_test
NODE_ENV=development
ACCESS_TOKEN_PRIVATE_KEY=TUlJQk9RSUJBQUpBWjBVVjlFREQzUlhqcTFoQkNEQTdXdHJrczJuTkZrTnRLWmRJaDFQR0tSZ3kxbG5LUzB3Rgp1ckZjNkxoVHdLY095T3V6UUNXWXQ4RGJBNnl3Yk5WTnlRSURBUUFCQWtCS011bERSZ1YwcEhXZ2R4akN1V1RzCk1ycC83bFRjMmpWazNMM1AvZkV6TkxEN09xbDNJcEtkcG9uOE9BRGIxUE90aXlyaklDb1Y2N3ZxMEtiWlkzYkIKQWlFQXlLbXpKaUtRTHVXM0FsYjhGQmdTUVJpc0xHc0QwS1ErQk13YktFZEF5dDhDSVFDRHY2NWJoQmMxWW5SYQpqZVdyZ0JubEV2dk9RZVExNkJMSjZwcStTTmNrVndJZ2FTeDVGNjNhQUpxcWQzRjhJbFFUalVjUFJ5QzRHUzFjCnpFcm1tUS92cCtVQ0lDYWl5S3YzMGFLTEs5bitjTkxaYno2WlVaVE1CL096Q2dlQ3NEeUxPZVJqQWlFQW1LcEsKZUN0Y0YwbXA1MDVSWXM1V3pBZFFDaTQwZXo0NDJPSXpzL0QxRjVRPQ==
ACCESS_TOKEN_PUBLIC_KEY=TUZzd0RRWUpLb1pJaHZjTkFRRUJCUUFEU2dBd1J3SkFaMFVWOUVERDNSWGpxMWhCQ0RBN1d0cmtzMm5ORmtOdApLWmRJaDFQR0tSZ3kxbG5LUzB3RnVyRmM2TGhUd0tjT3lPdXpRQ1dZdDhEYkE2eXdiTlZOeVFJREFRQUI=
